<!-- User Tasks -->

<!-- RESTFUL routing -- index collection of records or tasks data-->
    <!-- /users/id/tasks -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" />
    <!-- <link rel="stylesheet" href="/styles/main.css" /> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="/vendor/jquery-3.0.0.js"></script>

    <script defer src="/scripts/tasks/index.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <a class="navbar-brand" href="/" style="margin-left: 2rem; margin-right: 5rem;">Smart TODO List</a>
          <!-- Home Page button-->
          <div class="col-8 mt-4 mb-4 align-bottom"; style="color: white">
            <button class="btn btn-outline-info home-btn">Home</button>

          </div>

          <!-- Edit Profile ... this is-->
          <div class = "edit-profile">
            <a class="navbar-brand nav-item" href="/users/<%= user.id %>/edit"><%= user.first_name%> <%= user.last_name%></a>
          </div>
      </nav>
    </header>

    <main style="margin: 2em;">
      <!-- Table of categories -->
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#taskModalForm">
        Add Task
      </button>
    </br>
    </br>
    </br>

      <table class="table" style="color: black; background-color:lightgrey">
        <thead>
          <tr>
            <% categories.forEach((category) => { %>
              <th scope="col"><%= category.name %></th>
            <% }); %>
          </tr>
        </thead>
        <tbody>
          <% for (category_id in categorizedTasks) { %>
            <% categorizedTasks[category_id].forEach((task) => { %>
              <% if (task !== undefined) { %>
                <td><%= task.name %>
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-task="<%= JSON.stringify(task) %>" data-bs-target="#taskModalForm">
                    Edit
                  </button>
                </td>
              <% } else { %>
                <td></td>
              <% } %>
            <% }) %>
          <% } %>
        </tbody>
      </table>
    </main>
    <%- include('_form', { modalId: 'taskModalForm' }) %>
  </body>

</html>
